.signup-bg {
  background-color: rgb(60, 60, 237);
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
}

.nav-topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 60px 1px;
}


@media only screen and (max-width: 650px) {
  .nav-topbar {
    padding: 11px 0px 1px 10px;
  }

}

.empty-space {
  width: 15%;
}

.heading {
  color: black;
  background-color: #adff2f;
  border-radius: 30px;
  padding: 6px 15px;
  text-align: center;
  font-weight: 500;
}



.nav-buttons {
  width: 250px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.green-color {

  color: rgb(0, 0, 0);
  font-size: 15px;
  font-weight: bold;
  background-color: #adff2f;
  padding: 5px 10px;
  border-radius: 20px;
  border: none;

}



.green-color:hover {
  text-decoration: none;
  color: #adff2f;
  background-color: black;
}

.box-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin-top: 40px;
}

.card-img {
  height: 280px;
}

.card-title {
  color: black;
  font-weight: 500;
  font-size: 19px;
}

.card-price {
  display: inline;
  padding: 4px 9px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  font-weight: 700;
  font-size: 20px;
  background-color: #adff2f;
}

.card-detail-box {
  display: flex;
  align-items: center;
  height: 160px;
  font-size: 14px;
}



.card-body {
  color: black;
}

.add-button-color {
  background-color: #adff2f;
  border-radius: 50px;
  font-weight: 700;
  color: #000000;
}

.add-button-color:active {
  background-color: #adff2f;
  border-radius: 50px;
  font-weight: 500;
  color: #343131;
  box-shadow: rgba(0, 0, 0, 0.433) 0px 20px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: 1px solid rgb(0, 0, 0);
}

.go-button-color {
  background-color: #adff2f;
  border-radius: 50px;
  font-weight: 600;
  padding: 0 5px;
  color: #141414;
  font-size: 18px;
  border: 2px solid rgb(0, 0, 0);

}

.go-button-color:hover {
  text-decoration: none;
  color: #000000;
}

.go-button-color:active {

  background-color: #adff2f;
  border-radius: 50px;
  font-weight: 400;
  color: #343131;
  box-shadow: rgba(0, 0, 0, 0.433) 0px 20px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;

}

/* Add To Cart */

.conatiner-bg {
  min-height: 600px !important;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px;
  overflow: hidden;


}

::-webkit-scrollbar {
  display: none;
}

.addtocart-border {
  height: 250px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.642);

}

.addtocart-box {
  width: 100%;
  margin: 10px;
  display: flex;
  padding: 25px 5px;
}

.addtocart-img-top {
  width: 50%;
  height: 250px;


}

.addtocart-img {
  width: 65%;
  height: 70%;
}

.addtocart-body {
  width: 50%;
  color: #000000;

}

.addtocart-body h5 {
  font-size: 37px;
}

.addtocart-body h6 {
  font-size: 35px;
}

.delivery {
  color: rgb(4, 170, 4);
  font-weight: 500;
}

/*cart buttons start */

.buttons {
  margin-top: 10px;
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addtocart-quantity {
  width: 120px;
  border: 1px solid rgb(177, 176, 176);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 0px 0px 0px, rgba(14, 30, 37, 0.32) 0px 2px 10px 0px;
}

.addtocart-quantity button {
  width: 28px;
  height: 28px;
  padding: 0;
  border: none;
}

.addtocart-quantity .increament {
  border-radius: 5px 0 0 5px;
  border-right: 1px solid rgb(177, 176, 176);
}

.addtocart-quantity .decreament {
  border-radius: 0 5px 5px 0;
  border-left: 1px solid rgb(177, 176, 176);
}

.addtocart-quantity button:active {

  width: 28px;
  height: 28px;
  padding: 0;
  box-shadow: rgba(255, 255, 255, 0.433) 0px 20px 30px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
  border: none;

}

.addtocart-remove {
  font-size: 18px;
  color: rgb(255, 0, 0);
  font-weight: 500;
  background-color: #ffffff;

  border-radius: 8px;
  border: none;
}

.addtocart-remove:active {
  font-size: 17px;
}

/*cart buttons end */

.addtocart-total h1 {
  margin: 20px 20px 30px;
  text-align: end;
  margin-right: 50px;
  color: #000000;

}


@media only screen and (max-width: 992px) {
  .addtocart-body h5 {
    font-size: 28px;
  }

  .addtocart-body h6 {
    font-size: 25px;
  }

  .buttons {
    width: 80%;
  }
}



@media only screen and (max-width: 750px) {
  .container-small {
    padding: 0 !important;
    
  }

  .conatiner-bg {
    padding-top: 20px;
  }

  .addtocart-border {
    width: 100%;
    height: 180px;
    border-bottom: none;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;

  }

  .addtocart-box {
    margin: 0;
    padding: 20px 10px;
  }


  .addtocart-img-top {
    width: 50%;
    height: 180px;
    margin-bottom: 15px;

  }

  .addtocart-img {
    width: 90%;
    height: 140px;
  }

  .addtocart-body {
    width: 60%;
  }

  .addtocart-body h5 {
    font-size: 20px;
  }

  .addtocart-body h6 {
    font-size: 16px;
  }

  .delivery {
    font-size: 10px;
    color: green;
    font-weight: 600;
  }

  .addtocart-quantity {
    width: 100px;
    margin: 5px;
    font-size: 15px;
  }

 
  .addtocart-quantity button {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .addtocart-quantity button:active {
    width: 25px;
    height: 25px;
    font-size: 12px;
  }

  .addtocart-remove {
    font-size: 12px;
  }

  .addtocart-remove:active {
    font-size: 11px;
  }

  .addtocart-total h1 {
    margin: 10px 10px 20px;
    font-size: 22px;
  }




}

@media only screen and (max-width: 530px) {

  .heading {
    padding: 6px 10px;
    font-size: 15px;
  }

  .green-color {
    font-size: 13px;
    padding: 5px 10px;
  }

  .nav-buttons {
    width: 200px;
  }

  .addtocart-body h5 {
    font-size: 19px;
  }

  .addtocart-body h6 {
    font-size: 16px;
  }

  .buttons {

    justify-content: space-between;
  }

}

@media only screen and (max-width: 400px) {
  .conatiner-bg {
    padding-top: 20px;
  }

  .container-small {
    padding: 0 !important;
  }

  .heading {
    padding: 6px 5px;
    font-size: 16px;
  }

  .green-color {
    font-size: 13px;
    padding: 5px 5px;

  }

  .nav-buttons {
    width: 160px;
    margin-left: 0;
  }

  .addtocart-border {
    width: 100%;
    height: 150px;
    padding: 0 !important;
    border-bottom: none;


  }

  .addtocart-box {
    margin: 0;
    padding: 20px 10px;
  }


  .addtocart-img-top {
    width: 50%;
    height: 180px;
    margin-bottom: 15px;

  }

  .addtocart-img {
    width: 110px;
    height: 110px;
  }

  .addtocart-body {
    width: 60%;
  }

  .addtocart-body h5 {
    font-size: 12px;
  }

  .addtocart-body h6 {
    font-size: 12px;
  }

  .addtocart-quantity {
    margin: 5px;
    font-size: 13px;
  }

  .addtocart-quantity button {
    width: 20px;
    height: 20px;
    font-size: 11px;
  }

  .addtocart-quantity button:active {
    width: 20px;
    height: 20px;
    font-size: 11px;
  }

  .addtocart-remove {
    height: 20px;
    font-size: 12px;
  }

  .addtocart-total h1 {
    margin: 10px 10px 20px;
    font-size: 22px;
  }
}